In [1]:
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.stem import PorterStemmer
from collections import Counter
from nltk.corpus import stopwords
stop_words=set(stopwords.words('english'))
lemm = WordNetLemmatizer()
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [13]:
data_val = pd.read_pickle(r"C:\Users\PIYUSH\Desktop\validation_notscaled.pkl")

In [14]:
data = pd.read_pickle(r"C:\Users\PIYUSH\Downloads\essay (1).pkl")

In [15]:
data_val.head()

,essay_id,essay_set,essay,domain1_predictionid,domain2_predictionid,word_count,vocab_count,n_count,v_count,adj_count,adv_count,sent_len,freek,wrong_spell,beaut,perplexity
0,1788,1,"Dear @ORGANIZATION1, @CAPS1 more and more peop...",1788,NaN,275,77,67,29,21,15,13,26,8.771930,26,163.218737
1,1789,1,Dear @LOCATION1 Time @CAPS1 me tell you what I...,1789,NaN,353,95,75,35,15,21,20,33,1.526718,25,154.934685
2,1790,1,"Dear Local newspaper, Have you been spending a...",1790,NaN,471,137,91,51,29,26,15,35,13.170732,38,112.750824
3,1791,1,"Dear Readers, @CAPS1 you imagine how life woul...",1791,NaN,410,103,103,49,21,17,24,31,4.733728,38,156.539091
4,1792,1,"Dear newspaper, I strongly believe that comput...",1792,NaN,496,132,122,39,38,22,34,47,4.824561,54,141.841194

In [16]:
data_val.shape

(4218, 16)

In [17]:
data.shape

(12978, 39)

In [18]:
X=data_val.iloc[:,[5,6,7,8,9,10,11,12,13,14,15]]
X.head()

,word_count,vocab_count,n_count,v_count,adj_count,adv_count,sent_len,freek,wrong_spell,beaut,perplexity
0,275,77,67,29,21,15,13,26,8.771930,26,163.218737
1,353,95,75,35,15,21,20,33,1.526718,25,154.934685
2,471,137,91,51,29,26,15,35,13.170732,38,112.750824
3,410,103,103,49,21,17,24,31,4.733728,38,156.539091
4,496,132,122,39,38,22,34,47,4.824561,54,141.841194

In [19]:
sc=MinMaxScaler()
result=[]
def scaling_features(i,feat,result):
    d=((data_val[data_val['essay_set'] == i])[feat])
    x=np.array(d)
    x=np.reshape(x,(x.shape[0],1))
    d=(sc.fit_transform(x))
    result.append(d)
    return result

In [22]:
col=['vocab_count',
       'word_count', 'n_count', 'v_count', 'adj_count', 'adv_count',
       'sent_len', 'freek', 'wrong_spell','beaut', 'perplexity']
for name in col:
    r=[]
    for i in range(1,9):
        r=scaling_features(i,name,r)
    flat = [x for sublist in r for x in sublist]
    result=[]
    for i in flat:
        result.append(i[0])
    data_val[name]=result

c:\users\piyush\appdata\local\programs\python\python36\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

In [27]:
max((data_val[data_val['essay_set'] == 4])["n_count"])

1.0

In [28]:
sc=MinMaxScaler()
result=[]
def scaling_features(i,feat,result):
    d=((data[data['essay_set'] == i])[feat])
    x=np.array(d)
    x=np.reshape(x,(x.shape[0],1))
    d=(sc.fit_transform(x))
    result.append(d)
    return result

In [29]:
col=['vocab_count',
       'word_count', 'n_count', 'v_count', 'adj_count', 'adv_count',
       'sent_len', 'freek', 'wrong_spell','beaut', 'perplexity']
for name in col:
    r=[]
    for i in range(1,9):
        r=scaling_features(i,name,r)
    flat = [x for sublist in r for x in sublist]
    result=[]
    for i in flat:
        result.append(i[0])
    data[name]=result

c:\users\piyush\appdata\local\programs\python\python36\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

In [ ]:
max((data_val[data_val['essay_set'] == 4])["n_count"])

In [28]:
data3.to_pickle(r"C:\Users\PIYUSH\Downloads\val_set_wise.pkl")

In [29]:
df=pd.read_pickle(r"C:\Users\PIYUSH\Downloads\val_set_wise.pkl")

In [36]:
d=max((df[df['essay_set'] == 3])["word_count"])

In [37]:
d

1.0